extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      .error= message

      app-home-list Loading...
      
      //- each location in locations
      //-   .card
      //-     .card-block
      //-       h4
      //-         a(href=`/location/${location._id}`)= location.name
      //-         small &nbsp;
      //-           +outputRating(location.rating)
      //-         span.badge.badge-pill.badge-default.float-right= location.distance
      //-       p.address= location.address
      //-       .facilities
      //-         each facility in location.facilities
      //-           span.badge.badge-warning= facility

    .col-12.col-md-4
      p.lead= sidebar

block scripts
  script(src='/build/inline.f0178fcd0cc34a5688b1.bundle.js')
  script(src='/build/polyfills.682313b6b06f69a5089e.bundle.js')
  script(src='/build/vendor.b5827d44ee5b8956cc5e.bundle.js')
  script(src='/build/main.ad6de91d9e2170cae9d4.bundle.js')